:root {
  --header-color: #222222;
  --title-font: 'Engagement', cursive;
  --title-color: #F9DA41;
  --book-color: #FFA41B;
  --language-font-size: 14px;
}

/* ---------------*/
/* --- HEADER --- */
/* ---------------*/

.header {
  background-color: var(--header-color);
  box-shadow: 0px 5px 5px #111;

  position: fixed;
  width: 100%;
  height: 60px;
}

.header .hotel-criss {
  font-family: var(--title-font);
  font-size: 35px;
  text-align: center;
  color: var(--title-color);
}

.header .hotel-stars {
  width: 70px;
  height: auto;

  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -7px;
}

.header .book {
  background-color: Transparent;
  color: var(--book-color);
  font-family: 'Source Serif Pro', serif;
  font-size: 21px;

  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 20px;
  width: 130px;
  height: 35px;
  border: 2px solid orange;
  border-radius: 5px;
}

.header .language {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;

  font-size: var(--language-font-size);
}

.header .language button {
  background-color: Transparent;
  border-style: none;

  font-size: var(--language-font-size);
}


/* ------------------- */
/* --- DESCRIPTION --- */
/* ------------------- */

